/* Global */
/* Navigation variables */
/* Footer variables */
/* Hamburger variables */
/* Logo variables */
/* 204x34 */
/* 156x27 */
/* 109x18 */
/* Site specific mixins */
/*Sticky Footer on bottom */
html,
body {
  height: 100%;
}
form {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.page {
  min-height: 100%;
  padding-bottom: 50px;
}
.footer {
  background-color: #1e85be;
  color: #fcfcfc;
  height: 50px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
/* Logo */
.header div.logo-slogan {
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
}
.header div.logo-slogan h1.logo {
  margin: 7px 0 0 0;
  float: left;
}
.header div.logo-slogan h1.logo a {
  width: 204px;
  height: 34px;
  background-size: 204px 34px;
  display: block;
  background: url("/images/logo.svg") no-repeat 0 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.no-svg .header h1.logo a {
  background-image: url("/images/logo.png");
}
.navigation {
  padding: 0 0 0 0;
  background-color: #1e85be;
  color: #fcfcfc;
}
.navigation span {
  color: #fcfcfc;
}
.navigation .normal p {
  font-size: 11px;
  margin-top: 5px;
}
.navigation .site-navigation li {
  padding: 5px 0 5px 0;
  margin-bottom: 0;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font: 14px/21px "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
}
.navigation .compact {
  display: none !important;
}
.navigation .compact .compact-menu-container {
  float: left;
}
.navigation .compact .compact-menu-container .compact-menu,
.navigation .compact .compact-menu-container .compact-menu:hover {
  text-decoration: none;
  border: none;
  color: #fcfcfc !important;
  font-size: 1.6rem;
}
.navigation .compact .compact-menu-container .compact-menu {
  background: #1e85be;
}
.navigation .compact .compact-menu-container .compact-menu:hover {
  color: #05537d;
}
div.content .container .margin-top {
  margin-top: 20px;
}
div.content .container .row .content-block {
  padding: 4px 4px 4px 4px;
  margin-bottom: 20px;
}
div.content .container .row .content-block span.header {
  font-size: 1.6rem;
  font-weight: 700;
}
/* Side menus */
.left-hamburger,
.right-hamburger {
  position: absolute;
  width: 0;
  z-index: 1000;
  min-height: 100vh;
  height: 100%;
  background-color: #1e85be;
  overflow: hidden;
  top: 0;
  -webkit-transition: width 500ms ease;
  -moz-transition: width 500ms ease;
  -ms-transition: width 500ms ease;
  -o-transition: width 500ms ease;
}
.left-hamburger .side-menu-inner,
.right-hamburger .side-menu-inner {
  color: #fcfcfc;
}
.left-hamburger .side-menu-inner .back-container,
.right-hamburger .side-menu-inner .back-container {
  width: 100%;
  padding: 5px 5px 0 5px;
  border-bottom: solid 1px #fcfcfc;
  cursor: pointer;
}
.left-hamburger .side-menu-inner .back-container:hover,
.right-hamburger .side-menu-inner .back-container:hover {
  color: #fcfcfc;
  background-color: #05537d;
  cursor: pointer;
}
.left-hamburger {
  left: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.right-hamburger {
  right: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.show-left-hamburger-menu .left-hamburger {
  width: 270px;
}
.show-left-hamburger-menu .navigation .compact .compact-menu-container {
  -webkit-transition: margin-left 500ms ease;
  -moz-transition: margin-left 500ms ease;
  -ms-transition: margin-left 500ms ease;
  -o-transition: margin-left 500ms ease;
  margin-left: 240px;
}
.show-right-hamburger-menu .right-hamburger {
  width: 270px;
}
/* LESS DevExpress style fixes */
.navigation {
  /* dx-colors in menu */
}
.navigation .dxm-main {
  border: none;
}
.navigation .dxmLite_Moderno,
.navigation .dxm-popup {
  color: #fcfcfc;
  background-color: #1e85be;
}
.navigation .dxmLite_Moderno li.dxm-item,
.navigation .dxm-popup li.dxm-item {
  color: #fcfcfc;
}
.navigation .normal .dxmLite_Moderno .dxm-horizontal .dxm-separator {
  padding: 0!important;
}
.navigation .site-navigation.dxm-horizontal,
.navigation .site-navigation.dxm-vertical,
.navigation .site-navigation li.dxm-separator b {
  background: none!important;
}
.navigation .site-navigation li div.dxm-main {
  padding-top: 0;
  padding-bottom: 0;
}
.navigation .site-navigation li div.dxm-content {
  padding-left: 10px!important;
  padding-right: 12px!important;
}
.navigation .site-navigation li span.dx-vam {
  padding-top: 0;
  padding-bottom: 0;
}
.navigation .site-navigation li.dxm-hovered,
.navigation .site-navigation li.dxm-hovered a.dxm-content:hover,
.navigation .site-navigation li.dxm-selected,
.navigation .site-navigation li.dxm-selected a.dxm-content:hover {
  background: #05537d !important;
  color: #fcfcfc;
}
.navigation .site-navigation li.dxm-selected {
  border: 1px solid #05537d !important;
}
.navigation .site-navigation li.dxm-item a.dxm-content {
  color: #fcfcfc;
}
/* DX Overrides and fixes */
input.dxeEditArea_Moderno {
  width: 100%;
  /*fix in DX theme */
}
.dxeTextBox_Moderno td.dxic {
  padding-right: 7px!important;
  /*fix in DX theme */
}
/* Homepage slider Styling */
.dxisControl_Moderno .dxis-passePartout {
  background-color: white;
}
.dxisControl_Moderno .dxis-passePartout .dxis-imageArea {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.dxisControl_Moderno .dxis-passePartout .dxis-nextBtnHorWrapper {
  margin-right: 1px;
}
.dxisControl_Moderno .dxis-nbDotsBottom,
.dxisControl_HSA .dxis-nbDotsTop {
  margin-top: -20px;
  padding: 0;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than mobile */
@media (max-width: 549px) {
  .header div.logo-slogan h1.logo a {
    width: 102px;
    height: 17px;
    background-size: 102px 17px;
  }
  .navigation .normal {
    display: none !important;
  }
  .navigation .compact {
    display: inline !important;
  }
}
/* Larger than tablet */
@media (min-width: 550px) {
  .header div.logo-slogan h1.logo a {
    width: 163px;
    height: 27px;
    background-size: 163px 27px;
  }
  .navigation .normal {
    display: inline !important;
  }
  .navigation .compact {
    display: none !important;
  }
  .no-mobile {
    display: none !important;
  }
}
/* Larger than desktop */
@media (min-width: 900px) {
  .header div.logo-slogan h1.logo a {
    width: 204px;
    height: 34px;
    background-size: 204px 34px;
  }
}
/* Larger than Desktop HD */
